<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />

</head>
<body>
    <div>
        <!--navbar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">
                        <img class="logo-size" src="~/Images/udemy.svg" />
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="~/Home/Index">
                                <i class="glyphicon glyphicon-home"></i>
                                Home
                            </a>
                        </li>
                        <li>

                            <a href="~/Fields/Index">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                Feilds
                            </a>
                        </li>
                        <li>

                            <a href="~/Home/About">
                                <i class="glyphicon glyphicon-info-sign"></i>
                                About
                            </a>
                        </li>
                        <li>

                            <a href="~/Home/Contact">
                                <i class="glyphicon glyphicon-envelope"></i>
                                Content Us
                            </a>
                        </li>
                    </ul>
                    <!--Partial View-->
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>

        <!--footer-->
        <footer class="myfooter">
            <div class="row">
                <div class="col-md-4">
                    <h3>
                        About us
                    </h3>
                    <p>
                        We are a humble team of programmers who are passionate about helping beginners in programming and giving simple tricks in some computing fields.
                    </p>
                </div>
                <div class="col-md-4">
                    <h3>
                        Useful Links
                    </h3>
                    <ul>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">Desktop Development</a></li>
                        <li><a href="#">Mobile Development</a></li>
                        <li><a href="#">Networking</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>
                        Contact Us
                    </h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Email us</a></li>
                    </ul>
                </div>
            </div>
            <div class="subfooter">
                <span> All rights reserved to Courses Websites 2019</span>
            </div>
        </footer>
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
