body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top:150px;
}
.navbar-default {
    background-color: #b14a10;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
        color: #fff;
        font-size:20px;
        font-weight:bold;
}

.nav > li {
    position: relative;
    display: block;
    height: 75px;
    padding-top: 10px;
}
.logo-size {
    width: 50px;
    padding-top: 10px;
    padding-bottom:10px;
}
.myfooter{
    background-color:aliceblue;
    text-align:justify;
    padding:10px;
}
.subfooter {
    background-color: #b14a10;
    color: white;
    text-align: center;
    padding: 10px;
}
myfooter p,h3,ul{
    margin-left:10px;
    margin-bottom:20px;
}
.btn-primary {
    color: #fff;
    background-color: #b14a10;
    border-color: #277d0e;
}